<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">5+ Hackathons Participation</h3>
                    <p class="achievement-description">
Successfully participated in 5+ hackathons during my college years.
                    </p>
                </div>



                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code-merge"></i>
                    </div>
                    <h3 class="achievement-title">GitHub Contributions</h3>
                    <p class="achievement-description">
                        Actively contributed to open-source projects on GitHub, shared reusable code libraries, and consistently maintained personal repositories featuring full-stack applications, helping developers learn and collaborate globally.
                    </p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>